* {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

h1 {
    background-color: antiquewhite;
    text-align: center;
    font-size: 48px;
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

#homepage {
    color: blue;
}